.env
privy-session.json
node_modules
b.mjs
f.mjs
g.mjs
game.mjs
mnemonic.txt
privatekey.txt
privatekeys.txt
proxies.txt
s.mjs
t.mjs
a.mjs
l.mjs
te.mjs
gg.mjs
sessions
.session.json
.env
.env.*                 
privy-session.json
mnemonic.txt
privatekey.txt
privatekeys.txt
proxies.txt
sessions/
.sessions.json  
.s*essions*          
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
dist/
coverage/
.eslintcache
